In [26]:
import pandas as pd 
import yfinance as yf
import datetime as dt

First, the data collection <br><br>
Get the top 50 companies in SP500 index

In [27]:
# list of tickers of top 100 companies in SP500 by market cap
tickers = [
    "MSFT", "AAPL", "NVDA", "GOOG", "GOOGL", "AMZN", "META", "BRK-B", "LLY", "AVGO", 
    "TSLA", "JPM", "V", "WMT", "XOM", "MA", "PG", "UNH", "HD", "MRK", "CVX", 
    "ABBV", "KO", "PEP", "ORCL", "PFE", "COST", "TMO", "ADBE", "MCD", "CRM", 
    "NFLX", "ACN", "TXN", "NEE", "AMD", "ABT", "PM", "LIN", "UPS", "INTU", 
    "VZ", "QCOM", "HON", "MS", "GS", "AMT", "SBUX", "CAT", "LOW", "DE", 
    "MDLZ", "AMGN", "LMT", "BKNG", "DHR", "RTX", "SPGI", "BLK", "SCHW", "CI", 
    "SYK", "T", "ELV", "PLD", "TJX", "MMM", "MO", "GILD", "ADP", "ISRG", 
    "PNC", "ITW", "USB", "MRNA", "AXP", "FISV", "MU", "CB", "MDT", "MMC", 
    "SO", "ADI", "PGR", "C", "NKE", "ETN", "VRTX", "COP", "PANW", "CL", 
    "CHTR", "TGT", "DUK", "EQIX", "KMB", "ZTS", "SHW", "EOG", "REGN", "APD"
]

In [28]:
num_tickers = 10

# get todays date
date_today = dt.datetime.today().date()

# Download historical data for all tickers since January 1, 2000
data = yf.download(tickers[:num_tickers], start="2005-01-01", end=date_today, group_by="ticker")

data

[*********************100%***********************]  10 of 10 completed

Ticker                           META                                      \
Price                            Open        High         Low       Close
Date
2005-01-03 00:00:00+00:00         NaN         NaN         NaN         NaN
2005-01-04 00:00:00+00:00         NaN         NaN         NaN         NaN
2005-01-05 00:00:00+00:00         NaN         NaN         NaN         NaN
2005-01-06 00:00:00+00:00         NaN         NaN         NaN         NaN
2005-01-07 00:00:00+00:00         NaN         NaN         NaN         NaN
...                               ...         ...         ...         ...
2024-10-14 00:00:00+00:00  594.219971  600.099976  589.960022  590.419983
2024-10-15 00:00:00+00:00  590.159973  590.609985  580.140015  586.270020
2024-10-16 00:00:00+00:00  581.400024  582.080017  574.030029  576.789978
2024-10-17 00:00:00+00:00  583.330017  584.969971  575.200012  576.929993
2024-10-18 00:00:00+00:00  581.099976  583.969971  575.250000  576.469971

Ticker                                                   AMZN              \
Price                       Adj Close      Volume        Open        High
Date
2005-01-03 00:00:00+00:00         NaN         NaN    2.247500    2.272000
2005-01-04 00:00:00+00:00         NaN         NaN    2.133500    2.163000
2005-01-05 00:00:00+00:00         NaN         NaN    2.078500    2.138000
2005-01-06 00:00:00+00:00         NaN         NaN    2.090500    2.112500
2005-01-07 00:00:00+00:00         NaN         NaN    2.069000    2.134500
...                               ...         ...         ...         ...
2024-10-14 00:00:00+00:00  590.419983   8252000.0  189.779999  189.830002
2024-10-15 00:00:00+00:00  586.270020   9564200.0  187.630005  188.410004
2024-10-16 00:00:00+00:00  576.789978  11268400.0  187.050003  187.779999
2024-10-17 00:00:00+00:00  576.929993   8701200.0  188.220001  188.940002
2024-10-18 00:00:00+00:00  576.469971   7688000.0  187.149994  190.740005

Ticker                                             ...         LLY  \
Price                             Low       Close  ...         Low
Date                                               ...
2005-01-03 00:00:00+00:00    2.210500    2.226000  ...   56.200001
2005-01-04 00:00:00+00:00    2.075000    2.107000  ...   55.450001
2005-01-05 00:00:00+00:00    2.078000    2.088500  ...   55.500000
2005-01-06 00:00:00+00:00    2.045000    2.052500  ...   55.889999
2005-01-07 00:00:00+00:00    2.058000    2.116000  ...   56.169998
...                               ...         ...  ...         ...
2024-10-14 00:00:00+00:00  187.360001  187.539993  ...  926.000000
2024-10-15 00:00:00+00:00  184.580002  187.690002  ...  907.799988
2024-10-16 00:00:00+00:00  185.610001  186.889999  ...  897.840027
2024-10-17 00:00:00+00:00  186.000000  187.529999  ...  916.039978
2024-10-18 00:00:00+00:00  186.279999  188.990005  ...  905.619995

Ticker                                                            GOOG  \
Price                           Close   Adj Close   Volume        Open
Date
2005-01-03 00:00:00+00:00   56.250000   30.896524  3157300    4.916571
2005-01-04 00:00:00+00:00   55.500000   30.484579  4277600    5.016198
2005-01-05 00:00:00+00:00   56.080002   30.803156  3393900    4.818190
2005-01-06 00:00:00+00:00   56.529999   31.050323  2940100    4.858788
2005-01-07 00:00:00+00:00   56.259998   30.902020  2948600    4.748203
...                               ...         ...      ...         ...
2024-10-14 00:00:00+00:00  929.510010  929.510010  1550400  164.910004
2024-10-15 00:00:00+00:00  913.320007  913.320007  2284200  167.139999
2024-10-16 00:00:00+00:00  916.419983  916.419983  1645400  166.029999
2024-10-17 00:00:00+00:00  917.119995  917.119995  2191200  167.380005
2024-10-18 00:00:00+00:00  917.969971  917.969971  2286600  164.869995

Ticker                                                                     \
Price                            High         Low       Close   Adj Close
Date
2005-01-03 00:00:00+00:00    5.071989    4.868253    5.048826    5.036458
2005-01-04 00:00:00+00:00    5.054305    4.818937    4.844342    4.832474
2005-01-05 00:00:00+00:00    4.904118    4.787804    4.819685    4.807878
2005-01-06 00:00:00+00:00    4.879212    4.675475    4.696148    4.684643
2005-01-07 00:00:00+00:00    4.838116    4.701876    4.828153    4.816325
...                               ...         ...         ...         ...
2024-10-14 00:00:00+00:00  167.619995  164.779999  166.350006  166.350006
2024-10-15 00:00:00+00:00  169.089996  166.050003  166.899994  166.899994
2024-10-16 00:00:00+00:00  167.279999  165.216003  166.740005  166.740005
2024-10-17 00:00:00+00:00  167.929993  164.369995  164.509995  164.509995
2024-10-18 00:00:00+00:00  166.369995  164.750000  165.050003  165.050003

Ticker
Price                         Volume
Date
2005-01-03 00:00:00+00:00  636143518
2005-01-04 00:00:00+00:00  552298420
2005-01-05 00:00:00+00:00  330698912
2005-01-06 00:00:00+00:00  417041336
2005-01-07 00:00:00+00:00  387964757
...                              ...
2024-10-14 00:00:00+00:00    9981800
2024-10-15 00:00:00+00:00   14829300
2024-10-16 00:00:00+00:00    9968500
2024-10-17 00:00:00+00:00   15113400
2024-10-18 00:00:00+00:00   13086900

[4983 rows x 60 columns]

In [29]:
# leave only the closing price of each ticker

close_prices = pd.DataFrame()

for ticker in tickers[:10]:
    close_prices[ticker] = data[ticker]["Close"]

# close_prices=close_prices.reset_index()
close_prices.dropna(inplace=True)

In [30]:
# close_prices.to_csv("stock_prices.csv", index=False)

After we have the data let's analyze it

In [31]:
close_prices

,MSFT,AAPL,NVDA,GOOG,GOOGL,AMZN,META,BRK-B,LLY,AVGO
Date,,,,,,,,,,
2012-05-18 00:00:00+00:00,29.270000,18.942142,0.302000,14.953949,15.025025,10.692500,38.230000,78.910004,40.439999,3.002000
2012-05-21 00:00:00+00:00,29.750000,20.045713,0.307250,15.295419,15.368118,10.905500,34.029999,79.800003,40.630001,3.091000
2012-05-22 00:00:00+00:00,29.760000,19.891787,0.303500,14.963912,15.035035,10.766500,31.000000,79.650002,41.000000,3.127000
2012-05-23 00:00:00+00:00,29.110001,20.377144,0.311000,15.179603,15.251752,10.864000,32.000000,79.750000,40.669998,3.352000
2012-05-24 00:00:00+00:00,29.070000,20.190001,0.302750,15.035145,15.106607,10.762000,33.029999,79.800003,41.160000,3.251000
...,...,...,...,...,...,...,...,...,...,...
2024-10-14 00:00:00+00:00,419.140015,231.300003,138.070007,166.350006,164.960007,187.539993,590.419983,459.980011,929.510010,182.309998
2024-10-15 00:00:00+00:00,418.739990,233.850006,131.600006,166.899994,165.460007,187.690002,586.270020,462.679993,913.320007,175.979996
2024-10-16 00:00:00+00:00,416.119995,231.779999,135.720001,166.740005,165.160004,186.889999,576.789978,465.690002,916.419983,176.820007
2024-10-17 00:00:00+00:00,416.720001,232.149994,136.929993,164.509995,162.929993,187.529999,576.929993,465.850006,917.119995,181.529999
2024-10-18 00:00:00+00:00,418.160004,235.000000,138.000000,165.050003,163.419998,188.990005,576.469971,464.799988,917.969971,179.889999

In [34]:
import plotly.io as pio
# Set the default rendering engine to static image
pio.renderers.default = "browser"

In [35]:
import plotly.graph_objs as go
import plotly.express as px

fig = go.Figure()

for company in close_prices.columns[1:]:
    fig.add_trace(go.Scatter(x=close_prices.index, y=close_prices[company],
                             mode='lines',
                             name=company,
                             opacity=0.5))

fig.update_layout(
    title='Stock Price Trends of SP500 Companies',
    xaxis_title='Date',
    yaxis_title='Closing Price (INR)',
    xaxis=dict(tickangle=45), 
    legend=dict(
        x=1.05,
        y=1,
        traceorder="normal",
        font=dict(size=10),
        orientation="v"
    ),
    margin=dict(l=0, r=0, t=30, b=0),  
    hovermode='x',
    template='plotly_white'
)

fig.show()

Calculate the percentage change for each company between each day

In [40]:
all_companies = close_prices.columns

volatility_all_companies = close_prices[all_companies].std()

volatility_all_companies.sort_values(ascending=False).head(10)

LLY      205.039209
MSFT     121.769431
META     120.763246
BRK-B     90.814835
AAPL      63.201866
AMZN      57.861162
GOOG      44.783145
GOOGL     44.128805
AVGO      36.118535
NVDA      25.744744
dtype: float64